# AMQP Service Configuration
AMQP_PORT='5672'
AMQP_DASHBOARD_PORT='15672'

# Base Service Configuration
NODE_ENV='production'

# Ports for services
READ_SERVICE_PORT='3000'

# Service Configuration (Common)
SERVICE_CLOCK_SERVICE='clock-service'
SERVICE_MAIL_SERVICE='mail-service'
SERVICE_READ_SERVICE='read-service'
SERVICE_SCORE_SERVICE='score-service'
SERVICE_SUBMISSION_SERVICE='submission-service'
SERVICE_TARGET_SERVICE='target-service'
