# AMQP Service Configuration
AMQP_PORT='5672'
AMQP_DASHBOARD_PORT='15672'

# Database Configuration for MySQL
MYSQL_CLOCK_DB='clock_db'
MYSQL_MAIL_DB='mail_db'
MYSQL_PORT='3306'
MYSQL_READ_DB='read_db'
MYSQL_ROOT_PASSWORD='root'
MYSQL_ROOT_USER='root'
MYSQL_SCORE_DB='score_db'
MYSQL_SUBMISSION_DB='submission_db'
MYSQL_TARGET_DB='target_db'

# Base Service Configuration
NODE_ENV='production'

# Ports for services
READ_SERVICE_PORT='3000'

# Service Configuration (Common)
SERVICE_CLOCK_SERVICE='clock-service'
SERVICE_MAIL_SERVICE='mail-service'
SERVICE_READ_SERVICE='read-service'
SERVICE_SCORE_SERVICE='score-service'
SERVICE_SUBMISSION_SERVICE='submission-service'
SERVICE_TARGET_SERVICE='target-service'
