# General Environment
NODE_ENV='production'

# Docker Configuration
DOCKER_BASE_FILE=docker-base.local.yml

# Kafka Configuration
KAFKA_PORT='9092'
KAFKA_INTERNAL_PORT='9093'
KAFKA_UI_PORT='8080'
SERVICE_KAFKA_SERVICE='kafka-service'
KAFKA_CLIENT_NAME='KAFKA_SERVICE'

# Zookeeper Configuration
ZOOKEEPER_PORT='2181'
SERVICE_ZOOKEEPER_SERVICE='zookeeper-service'

# MySQL Configuration
MYSQL_ROOT_USER='root'
MYSQL_ROOT_PASSWORD='root'
MYSQL_PORT='3306'
MYSQL_CLOCK_DB='clock_db'
MYSQL_MAIL_DB='mail_db'
MYSQL_SCORE_DB='score_db'
MYSQL_SUBMISSION_DB='submission_db'
MYSQL_TARGET_DB='target_db'
MYSQL_READ_DB='read_db'

# Service Ports
READ_SERVICE_PORT='3000'
MAIL_SERVICE_PORT='3001'
SCORE_SERVICE_PORT='3002'
SUBMISSION_SERVICE_PORT='3003'
TARGET_SERVICE_PORT='3004'
CLOCK_SERVICE_PORT='3005'

# Service Names
SERVICE_CLOCK_SERVICE='clock-service'
SERVICE_MAIL_SERVICE='mail-service'
SERVICE_READ_SERVICE='read-service'
SERVICE_SCORE_SERVICE='score-service'
SERVICE_SUBMISSION_SERVICE='submission-service'
SERVICE_TARGET_SERVICE='target-service'
